In [153]:
# coding:utf-8
"""
本文件为单独调试getCoupon()函数的调试记录，后期将加入UserMainData
"""
import pandas as pd
import numpy as np
from impala.dbapi import connect
from impala.util import as_pandas
import cPickle

def easy_print(terms,tname, records=10): #逐条描述前五条记录，方便仔细查看表中值的特征
    conn = connect(host='172.21.1.120', port=21050, user='udms', database='kmi_month') 
    cur = conn.cursor()     
    
    sql = 'SELECT ' + terms + ' FROM ' + tname + ' LIMIT 5' 
    cur.execute(sql)
    read_in = as_pandas(cur)    
    cur.close()
    conn.close()
    
    #print in a format
    columns = read_in.columns.values
    values = read_in.values
    records = []
    for v in values:
        records.append(zip(columns, v))
    
    for ix,r in enumerate(records):
        print('----------第%s条记录--------' % (ix+1))
        for k, v in r:
            print('%s: %s' % (k, v))
            
def full_print(terms,tname): #打出全表所选列，以方便进行统计查看规律，决定处理方法
    conn = connect(host='172.21.1.120', port=21050, user='udms', database='kmi_month') 
    cur = conn.cursor()     
    
    sql = 'SELECT ' + terms + ' FROM ' + tname
    cur.execute(sql)
    df = as_pandas(cur)
    print df
    cur.close()
    conn.close()

def get_coupon():
    conn = connect(host='172.21.1.120', port=21050, user='udms', database='kmi_month') 
    cur = conn.cursor()     
    # 1. 对用户获取的红包数量和总金额进行统计，最后为'customerid','coupon_get_cnt','coupon_get_sum'
    sql = 'SELECT customer_id as customerid,coupon_value,red_envelop_id FROM km_tbl_get_coupon_records'
    cur.execute(sql)
    df = as_pandas(cur)
    # 统计用户参与的活动数
    group_by_used = df.groupby('customerid',as_index=False).count()
    #统计用户获取过的红包金额
    group_by_money = df.groupby('customerid',as_index=False).sum()
    # 按照customerid合并两部分数据
    got = pd.merge(group_by_used,group_by_money,left_on='customerid',right_on='customerid')
    # 清洗数据（改列名和drop不要的列）
    got.drop('coupon_value_x',axis=1,inplace=True)
    got.columns = ['customerid','coupon_get_cnt','coupon_get_sum']

    # 2. 对每个用户最多红包获取的来源商家进行统计，最后为'customerid','source_company_id','source_company_cnt'
    sql = 'SELECT customer_id as customerid,source_company_id FROM km_tbl_get_coupon_records'
    cur.execute(sql)
    df = as_pandas(cur)
    df['source_company_cnt'] = 1
    company = df.groupby(['customerid','source_company_id'],as_index=False).count()
    # 只保留每个用户id对应的获取次数最多的商家次数
    company = company.sort_values(['customerid','source_company_cnt'],ascending=[1,0])
    # drop_duplicates默认保留第一条
    company.drop_duplicates(subset='customerid',inplace=True)
    
    # 3. 对用户红包获取过的红包类型数进行统计,最后为'customerid','get_coupon_type_cnt'
    sql = 'SELECT customer_id as customerid,coupon_id FROM km_tbl_get_coupon_records'
    cur.execute(sql)
    df = as_pandas(cur)
    df['cnt'] = 1
    df = df.groupby(['customerid','coupon_id'],as_index=False).count()
    type_cnt = df.groupby('customerid',as_index=False).count()
    type_cnt.drop('cnt',axis=1,inplace=True)
    type_cnt.columns = ['customerid','get_coupon_type_cnt']
    
    # 4. 对以上几个表进行merge
    df = pd.merge(got,company,left_on='customerid',right_on='customerid')
    df = pd.merge(df,type_cnt,left_on='customerid',right_on='customerid')
    
    return df
    cur.close()
    conn.close()

In [154]:
df = get_coupon()

## 4. 对以上几个表进行merge

### 连接got和company结果

In [155]:
df

,customerid,coupon_get_cnt,coupon_get_sum,source_company_id,source_company_cnt,get_coupon_type_cnt
0,1003913,12,215,4617,9,4
1,1004944,2,10,8407,2,1
2,1006609,6,115,4270,5,4
3,1006661,3,35,4270,2,3
4,100910,2,15,6491,2,2
5,1009386,1,5,3170,1,1
6,1009656,1,20,-1,1,1
7,101273,1,10,-1,1,1
8,1014444,1,15,-1,1,1
9,1016017,5,85,-1,3,4
10,1017391,4,65,4840,4,4
11,1018310,2,25,642,2,2
12,1019803,27,515,-1,26,5
13,1020619,1,10,-1,1,1
14,1022811,2,25,-1,1,2
15,1026056,1,15,642,1,1
16,1026952,2,30,-1,1,2
17,1030733,1,20,-1,1,1
18,1032974,1,10,8407,1,1
19,1034665,4,30,1137,4,3
20,1036682,1,10,3170,1,1
21,1038300,4,55,4198,4,4
22,1038375,2,25,4938,2,2
23,103933,1,10,6732,1,1
24,1042787,6,85,4984,6,3
25,1043,14,255,3753,10,6
26,1044,1,15,1125,1,1
27,1045,2,35,-1,2,2
28,1045281,1,20,4812,1,1
29,1046,2,35,-1,2,2
...,...,...,...,...,...,...
145053,918726,2,20,-1,1,2
145054,921137,5,45,5791,5,4
145055,921206,2,25,5154,2,2
145056,922151,1,15,4131,1,1
145057,924011,8,105,3085,8,6
145058,924445,1,15,-1,1,1
145059,928005,1,10,-1,1,1
145060,92873,5,60,5245,5,5
145061,944994,1,15,7743,1,1
145062,945883,7,60,3705,7,6
145063,946852,2,25,8766,1,2
145064,947002,1,5,1090,1,1
145065,950052,1,15,642,1,1
145066,951300,3,25,4067,3,3
145067,954077,2,20,8803,2,2
145068,954828,1,30,3938,1,1
145069,957011,2,15,6491,2,2
145070,957080,3,55,180,2,3
145071,958861,1,5,1125,1,1
145072,959288,2,20,4270,2,1
145073,961556,3,35,1125,3,2
145074,969283,1,10,180,1,1
145075,970335,1,10,-1,1,1
145076,973677,3,45,-1,3,3
145077,978610,1,5,5813,1,1
145078,978795,10,135,2710,7,8
145079,983841,5,45,4067,5,3
145080,984698,4,55,4720,3,4
145081,987874,4,35,1090,2,4
145082,997143,1,10,4067,1,1

### 将上表和type_cnt进行merge

In [156]:
df

,customerid,coupon_get_cnt,coupon_get_sum,source_company_id,source_company_cnt,get_coupon_type_cnt
0,1003913,12,215,4617,9,4
1,1004944,2,10,8407,2,1
2,1006609,6,115,4270,5,4
3,1006661,3,35,4270,2,3
4,100910,2,15,6491,2,2
5,1009386,1,5,3170,1,1
6,1009656,1,20,-1,1,1
7,101273,1,10,-1,1,1
8,1014444,1,15,-1,1,1
9,1016017,5,85,-1,3,4
10,1017391,4,65,4840,4,4
11,1018310,2,25,642,2,2
12,1019803,27,515,-1,26,5
13,1020619,1,10,-1,1,1
14,1022811,2,25,-1,1,2
15,1026056,1,15,642,1,1
16,1026952,2,30,-1,1,2
17,1030733,1,20,-1,1,1
18,1032974,1,10,8407,1,1
19,1034665,4,30,1137,4,3
20,1036682,1,10,3170,1,1
21,1038300,4,55,4198,4,4
22,1038375,2,25,4938,2,2
23,103933,1,10,6732,1,1
24,1042787,6,85,4984,6,3
25,1043,14,255,3753,10,6
26,1044,1,15,1125,1,1
27,1045,2,35,-1,2,2
28,1045281,1,20,4812,1,1
29,1046,2,35,-1,2,2
...,...,...,...,...,...,...
145053,918726,2,20,-1,1,2
145054,921137,5,45,5791,5,4
145055,921206,2,25,5154,2,2
145056,922151,1,15,4131,1,1
145057,924011,8,105,3085,8,6
145058,924445,1,15,-1,1,1
145059,928005,1,10,-1,1,1
145060,92873,5,60,5245,5,5
145061,944994,1,15,7743,1,1
145062,945883,7,60,3705,7,6
145063,946852,2,25,8766,1,2
145064,947002,1,5,1090,1,1
145065,950052,1,15,642,1,1
145066,951300,3,25,4067,3,3
145067,954077,2,20,8803,2,2
145068,954828,1,30,3938,1,1
145069,957011,2,15,6491,2,2
145070,957080,3,55,180,2,3
145071,958861,1,5,1125,1,1
145072,959288,2,20,4270,2,1
145073,961556,3,35,1125,3,2
145074,969283,1,10,180,1,1
145075,970335,1,10,-1,1,1
145076,973677,3,45,-1,3,3
145077,978610,1,5,5813,1,1
145078,978795,10,135,2710,7,8
145079,983841,5,45,4067,5,3
145080,984698,4,55,4720,3,4
145081,987874,4,35,1090,2,4
145082,997143,1,10,4067,1,1

## 3. 对用户红包获取的红包类型数统计结果

In [140]:
df

       customerid  get_coupon_type_cnt
0         1003913                    4
1         1004944                    1
2         1006609                    4
3         1006661                    3
4          100910                    2
5         1009386                    1
6         1009656                    1
7          101273                    1
8         1014444                    1
9         1016017                    4
10        1017391                    4
11        1018310                    2
12        1019803                    5
13        1020619                    1
14        1022811                    2
15        1026056                    1
16        1026952                    2
17        1030733                    1
18        1032974                    1
19        1034665                    3
20        1036682                    1
21        1038300                    4
22        1038375                    2
23         103933                    1
24        1042787                    3
25           1043                    6
26           1044                    1
27           1045                    2
28        1045281                    1
29           1046                    2
...           ...                  ...
145053     918726                    2
145054     921137                    4
145055     921206                    2
145056     922151                    1
145057     924011                    6
145058     924445                    1
145059     928005                    1
145060      92873                    5
145061     944994                    1
145062     945883                    6
145063     946852                    2
145064     947002                    1
145065     950052                    1
145066     951300                    3
145067     954077                    2
145068     954828                    1
145069     957011                    2
145070     957080                    3
145071     958861                    1
145072     959288                    1
145073     961556                    2
145074     969283                    1
145075     970335                    1
145076     973677                    3
145077     978610                    1
145078     978795                    8
145079     983841                    3
145080     984698                    4
145081     987874                    4
145082     997143                    1

[145083 rows x 2 columns]

## 查看source_type_name有没有区分度：完全没有，放弃此属性

In [112]:
pd.value_counts(df['source_type_name'])

电视端二维码    339357
Name: source_type_name, dtype: int64

## 2. 对用户获取红包来源商家统计

In [95]:
df

       customerid source_company_id  cnt
0         1003913                -1    3
1         1003913              4617    9
2         1004944              8407    2
3         1006609                -1    1
4         1006609              4270    5
5         1006661                -1    1
6         1006661              4270    2
7          100910              6491    2
8         1009386              3170    1
9         1009656                -1    1
10         101273                -1    1
11        1014444                -1    1
12        1016017                -1    3
13        1016017              5245    2
14        1017391              4840    4
15        1018310               642    2
16        1019803                -1   26
17        1019803              4617    1
18        1020619                -1    1
19        1022811                -1    1
20        1022811              4720    1
21        1026056               642    1
22        1026952                -1    1
23        1026952              2054    1
24        1030733                -1    1
25        1032974              8407    1
26        1034665              1137    4
27        1036682              3170    1
28        1038300              4198    4
29        1038375              4938    2
...           ...               ...  ...
172135     924445                -1    1
172136     928005                -1    1
172137      92873              5245    5
172138     944994              7743    1
172139     945883              3705    7
172140     946852              8766    1
172141     946852               990    1
172142     947002              1090    1
172143     950052               642    1
172144     951300              4067    3
172145     954077              8803    2
172146     954828              3938    1
172147     957011              6491    2
172148     957080                -1    1
172149     957080               180    2
172150     958861              1125    1
172151     959288              4270    2
172152     961556              1125    3
172153     969283               180    1
172154     970335                -1    1
172155     973677                -1    3
172156     978610              5813    1
172157     978795                -1    3
172158     978795              2710    7
172159     983841              4067    5
172160     984698              4720    3
172161     984698              7673    1
172162     987874              1090    2
172163     987874               773    2
172164     997143              4067    1

[172165 rows x 3 columns]

### 以customerid升序和source_company_cnt降序排列结果

In [106]:
df

       customerid source_company_id  source_company_cnt
1         1003913              4617                   9
0         1003913                -1                   3
2         1004944              8407                   2
4         1006609              4270                   5
3         1006609                -1                   1
6         1006661              4270                   2
5         1006661                -1                   1
7          100910              6491                   2
8         1009386              3170                   1
9         1009656                -1                   1
10         101273                -1                   1
11        1014444                -1                   1
12        1016017                -1                   3
13        1016017              5245                   2
14        1017391              4840                   4
15        1018310               642                   2
16        1019803                -1                  26
17        1019803              4617                   1
18        1020619                -1                   1
19        1022811                -1                   1
20        1022811              4720                   1
21        1026056               642                   1
22        1026952                -1                   1
23        1026952              2054                   1
24        1030733                -1                   1
25        1032974              8407                   1
26        1034665              1137                   4
27        1036682              3170                   1
28        1038300              4198                   4
29        1038375              4938                   2
...           ...               ...                 ...
172135     924445                -1                   1
172136     928005                -1                   1
172137      92873              5245                   5
172138     944994              7743                   1
172139     945883              3705                   7
172140     946852              8766                   1
172141     946852               990                   1
172142     947002              1090                   1
172143     950052               642                   1
172144     951300              4067                   3
172145     954077              8803                   2
172146     954828              3938                   1
172147     957011              6491                   2
172149     957080               180                   2
172148     957080                -1                   1
172150     958861              1125                   1
172151     959288              4270                   2
172152     961556              1125                   3
172153     969283               180                   1
172154     970335                -1                   1
172155     973677                -1                   3
172156     978610              5813                   1
172158     978795              2710                   7
172157     978795                -1                   3
172159     983841              4067                   5
172160     984698              4720                   3
172161     984698              7673                   1
172162     987874              1090                   2
172163     987874               773                   2
172164     997143              4067                   1

[172165 rows x 3 columns]

### 去重只保留每个customerid第一条的结果

In [109]:
df

       customerid source_company_id  source_company_cnt
1         1003913              4617                   9
2         1004944              8407                   2
4         1006609              4270                   5
6         1006661              4270                   2
7          100910              6491                   2
8         1009386              3170                   1
9         1009656                -1                   1
10         101273                -1                   1
11        1014444                -1                   1
12        1016017                -1                   3
14        1017391              4840                   4
15        1018310               642                   2
16        1019803                -1                  26
18        1020619                -1                   1
19        1022811                -1                   1
21        1026056               642                   1
22        1026952                -1                   1
24        1030733                -1                   1
25        1032974              8407                   1
26        1034665              1137                   4
27        1036682              3170                   1
28        1038300              4198                   4
29        1038375              4938                   2
30         103933              6732                   1
31        1042787              4984                   6
33           1043              3753                  10
35           1044              1125                   1
36           1045                -1                   2
37        1045281              4812                   1
38           1046                -1                   2
...           ...               ...                 ...
172129     918726                -1                   1
172131     921137              5791                   5
172132     921206              5154                   2
172133     922151              4131                   1
172134     924011              3085                   8
172135     924445                -1                   1
172136     928005                -1                   1
172137      92873              5245                   5
172138     944994              7743                   1
172139     945883              3705                   7
172140     946852              8766                   1
172142     947002              1090                   1
172143     950052               642                   1
172144     951300              4067                   3
172145     954077              8803                   2
172146     954828              3938                   1
172147     957011              6491                   2
172149     957080               180                   2
172150     958861              1125                   1
172151     959288              4270                   2
172152     961556              1125                   3
172153     969283               180                   1
172154     970335                -1                   1
172155     973677                -1                   3
172156     978610              5813                   1
172158     978795              2710                   7
172159     983841              4067                   5
172160     984698              4720                   3
172162     987874              1090                   2
172164     997143              4067                   1

[145083 rows x 3 columns]

## 1. 对用户获取的红包数量和总金额进行统计

In [76]:
df

       customerid  coupon_get_cnt  coupon_get_sum
0         1003913              12             215
1         1004944               2              10
2         1006609               6             115
3         1006661               3              35
4          100910               2              15
5         1009386               1               5
6         1009656               1              20
7          101273               1              10
8         1014444               1              15
9         1016017               5              85
10        1017391               4              65
11        1018310               2              25
12        1019803              27             515
13        1020619               1              10
14        1022811               2              25
15        1026056               1              15
16        1026952               2              30
17        1030733               1              20
18        1032974               1              10
19        1034665               4              30
20        1036682               1              10
21        1038300               4              55
22        1038375               2              25
23         103933               1              10
24        1042787               6              85
25           1043              14             255
26           1044               1              15
27           1045               2              35
28        1045281               1              20
29           1046               2              35
...           ...             ...             ...
145053     918726               2              20
145054     921137               5              45
145055     921206               2              25
145056     922151               1              15
145057     924011               8             105
145058     924445               1              15
145059     928005               1              10
145060      92873               5              60
145061     944994               1              15
145062     945883               7              60
145063     946852               2              25
145064     947002               1               5
145065     950052               1              15
145066     951300               3              25
145067     954077               2              20
145068     954828               1              30
145069     957011               2              15
145070     957080               3              55
145071     958861               1               5
145072     959288               2              20
145073     961556               3              35
145074     969283               1              10
145075     970335               1              10
145076     973677               3              45
145077     978610               1               5
145078     978795              10             135
145079     983841               5              45
145080     984698               4              55
145081     987874               4              35
145082     997143               1              10

[145083 rows x 3 columns]

In [48]:
easy_print('*','km_tbl_get_coupon_records')

----------第1条记录--------
date: 2016-05-01
get_coupon_records_id: 953447
get_envelop_id: 953383
customer_id: 5792240
red_envelop_id: 129
red_envelop_name: 【重点城市】新手红包2016.4.7
coupon_id: 375
get_activity_time: 2016-05-01 00:00:05
use_flag: 0
expiration_date: 2016-05-31 23:59:59
coupon_value: 10.0
coupon_type: 3
source_company_id: -1
source_company_code: -1
source_company_name: K米
source_type_id: 0
source_type_name: 电视端二维码
status: 0
----------第2条记录--------
date: 2016-05-01
get_coupon_records_id: 953449
get_envelop_id: 953385
customer_id: 5791209
red_envelop_id: 93
red_envelop_name: 【正式】80分评分红包2016.3.22
coupon_id: 287
get_activity_time: 2016-05-01 00:00:06
use_flag: 0
expiration_date: 2016-05-31 23:59:59
coupon_value: 10.0
coupon_type: 3
source_company_id: 7120
source_company_code: 06673
source_company_name: 歌利亚音乐会
source_type_id: 0
source_type_name: 电视端二维码
status: 0
----------第3条记录--------
date: 2016-05-01
get_coupon_records_id: 953451
get_envelop_id: 953387
customer_id: 5792245
red_envelop_id: 129
red_envelop_name: 【重点城市】新手红包2016.4.7
coupon_id: 383
get_activity_time: 2016-05-01 00:00:13
use_flag: 0
expiration_date: 2016-05-31 23:59:59
coupon_value: 20.0
coupon_type: 3
source_company_id: -1
source_company_code: -1
source_company_name: K米
source_type_id: 0
source_type_name: 电视端二维码
status: 0
----------第4条记录--------
date: 2016-05-01
get_coupon_records_id: 953453
get_envelop_id: 953389
customer_id: 5791086
red_envelop_id: 93
red_envelop_name: 【正式】80分评分红包2016.3.22
coupon_id: 289
get_activity_time: 2016-05-01 00:00:17
use_flag: 1
expiration_date: 2016-05-31 23:59:59
coupon_value: 10.0
coupon_type: 2
source_company_id: 1090
source_company_code: 01173
source_company_name: 欢乐迪渝高店
source_type_id: 0
source_type_name: 电视端二维码
status: 0
----------第5条记录--------
date: 2016-05-01
get_coupon_records_id: 953455
get_envelop_id: 953391
customer_id: 5792250
red_envelop_id: 41
red_envelop_name: 【重点城市】新手红包2016.1.13
coupon_id: 149
get_activity_time: 2016-05-01 00:00:21
use_flag: 0
expiration_date: 2016-05-31 23:59:59
coupon_value: 15.0
coupon_type: 2
source_company_id: 6195
source_company_code: 05748
source_company_name: 温莎堡
source_type_id: 0
source_type_name: 电视端二维码
status: 0

In [26]:
group_by_used = df.groupby('customerid').count()
group_by_used

            coupon_value  red_envelop_id
customerid
1003913               12              12
1004944                2               2
1006609                6               6
1006661                3               3
100910                 2               2
1009386                1               1
1009656                1               1
101273                 1               1
1014444                1               1
1016017                5               5
1017391                4               4
1018310                2               2
1019803               27              27
1020619                1               1
1022811                2               2
1026056                1               1
1026952                2               2
1030733                1               1
1032974                1               1
1034665                4               4
1036682                1               1
1038300                4               4
1038375                2               2
103933                 1               1
1042787                6               6
1043                  14              14
1044                   1               1
1045                   2               2
1045281                1               1
1046                   2               2
...                  ...             ...
918726                 2               2
921137                 5               5
921206                 2               2
922151                 1               1
924011                 8               8
924445                 1               1
928005                 1               1
92873                  5               5
944994                 1               1
945883                 7               7
946852                 2               2
947002                 1               1
950052                 1               1
951300                 3               3
954077                 2               2
954828                 1               1
957011                 2               2
957080                 3               3
958861                 1               1
959288                 2               2
961556                 3               3
969283                 1               1
970335                 1               1
973677                 3               3
978610                 1               1
978795                10              10
983841                 5               5
984698                 4               4
987874                 4               4
997143                 1               1

[145083 rows x 2 columns]

In [28]:
group_by_money = df.groupby('customerid').sum()
group_by_money

            coupon_value
customerid
1003913              215
1004944               10
1006609              115
1006661               35
100910                15
1009386                5
1009656               20
101273                10
1014444               15
1016017               85
1017391               65
1018310               25
1019803              515
1020619               10
1022811               25
1026056               15
1026952               30
1030733               20
1032974               10
1034665               30
1036682               10
1038300               55
1038375               25
103933                10
1042787               85
1043                 255
1044                  15
1045                  35
1045281               20
1046                  35
...                  ...
918726                20
921137                45
921206                25
922151                15
924011               105
924445                15
928005                10
92873                 60
944994                15
945883                60
946852                25
947002                 5
950052                15
951300                25
954077                20
954828                30
957011                15
957080                55
958861                 5
959288                20
961556                35
969283                10
970335                10
973677                45
978610                 5
978795               135
983841                45
984698                55
987874                35
997143                10

[145083 rows x 1 columns]

In [31]:
result = pd.merge(group_by_used,group_by_money,left_index=True,right_index=True)
result

            coupon_value_x  red_envelop_id  coupon_value_y
customerid
1003913                 12              12             215
1004944                  2               2              10
1006609                  6               6             115
1006661                  3               3              35
100910                   2               2              15
1009386                  1               1               5
1009656                  1               1              20
101273                   1               1              10
1014444                  1               1              15
1016017                  5               5              85
1017391                  4               4              65
1018310                  2               2              25
1019803                 27              27             515
1020619                  1               1              10
1022811                  2               2              25
1026056                  1               1              15
1026952                  2               2              30
1030733                  1               1              20
1032974                  1               1              10
1034665                  4               4              30
1036682                  1               1              10
1038300                  4               4              55
1038375                  2               2              25
103933                   1               1              10
1042787                  6               6              85
1043                    14              14             255
1044                     1               1              15
1045                     2               2              35
1045281                  1               1              20
1046                     2               2              35
...                    ...             ...             ...
918726                   2               2              20
921137                   5               5              45
921206                   2               2              25
922151                   1               1              15
924011                   8               8             105
924445                   1               1              15
928005                   1               1              10
92873                    5               5              60
944994                   1               1              15
945883                   7               7              60
946852                   2               2              25
947002                   1               1               5
950052                   1               1              15
951300                   3               3              25
954077                   2               2              20
954828                   1               1              30
957011                   2               2              15
957080                   3               3              55
958861                   1               1               5
959288                   2               2              20
961556                   3               3              35
969283                   1               1              10
970335                   1               1              10
973677                   3               3              45
978610                   1               1               5
978795                  10              10             135
983841                   5               5              45
984698                   4               4              55
987874                   4               4              35
997143                   1               1              10

[145083 rows x 3 columns]

In [32]:
result.drop('coupon_value_x',axis=1,inplace=True)
result

            red_envelop_id  coupon_value_y
customerid
1003913                 12             215
1004944                  2              10
1006609                  6             115
1006661                  3              35
100910                   2              15
1009386                  1               5
1009656                  1              20
101273                   1              10
1014444                  1              15
1016017                  5              85
1017391                  4              65
1018310                  2              25
1019803                 27             515
1020619                  1              10
1022811                  2              25
1026056                  1              15
1026952                  2              30
1030733                  1              20
1032974                  1              10
1034665                  4              30
1036682                  1              10
1038300                  4              55
1038375                  2              25
103933                   1              10
1042787                  6              85
1043                    14             255
1044                     1              15
1045                     2              35
1045281                  1              20
1046                     2              35
...                    ...             ...
918726                   2              20
921137                   5              45
921206                   2              25
922151                   1              15
924011                   8             105
924445                   1              15
928005                   1              10
92873                    5              60
944994                   1              15
945883                   7              60
946852                   2              25
947002                   1               5
950052                   1              15
951300                   3              25
954077                   2              20
954828                   1              30
957011                   2              15
957080                   3              55
958861                   1               5
959288                   2              20
961556                   3              35
969283                   1              10
970335                   1              10
973677                   3              45
978610                   1               5
978795                  10             135
983841                   5              45
984698                   4              55
987874                   4              35
997143                   1              10

[145083 rows x 2 columns]

In [33]:
result.columns = ['coupon_use_cnt','coupon_use_sum']
result

            coupon_use_cnt  coupon_use_sum
customerid
1003913                 12             215
1004944                  2              10
1006609                  6             115
1006661                  3              35
100910                   2              15
1009386                  1               5
1009656                  1              20
101273                   1              10
1014444                  1              15
1016017                  5              85
1017391                  4              65
1018310                  2              25
1019803                 27             515
1020619                  1              10
1022811                  2              25
1026056                  1              15
1026952                  2              30
1030733                  1              20
1032974                  1              10
1034665                  4              30
1036682                  1              10
1038300                  4              55
1038375                  2              25
103933                   1              10
1042787                  6              85
1043                    14             255
1044                     1              15
1045                     2              35
1045281                  1              20
1046                     2              35
...                    ...             ...
918726                   2              20
921137                   5              45
921206                   2              25
922151                   1              15
924011                   8             105
924445                   1              15
928005                   1              10
92873                    5              60
944994                   1              15
945883                   7              60
946852                   2              25
947002                   1               5
950052                   1              15
951300                   3              25
954077                   2              20
954828                   1              30
957011                   2              15
957080                   3              55
958861                   1               5
959288                   2              20
961556                   3              35
969283                   1              10
970335                   1              10
973677                   3              45
978610                   1               5
978795                  10             135
983841                   5              45
984698                   4              55
987874                   4              35
997143                   1              10

[145083 rows x 2 columns]

In [37]:
result['customerid'] = result.index.values
result.index = range(result.shape[0])
result

        coupon_use_cnt  coupon_use_sum customerid
0                   12             215    1003913
1                    2              10    1004944
2                    6             115    1006609
3                    3              35    1006661
4                    2              15     100910
5                    1               5    1009386
6                    1              20    1009656
7                    1              10     101273
8                    1              15    1014444
9                    5              85    1016017
10                   4              65    1017391
11                   2              25    1018310
12                  27             515    1019803
13                   1              10    1020619
14                   2              25    1022811
15                   1              15    1026056
16                   2              30    1026952
17                   1              20    1030733
18                   1              10    1032974
19                   4              30    1034665
20                   1              10    1036682
21                   4              55    1038300
22                   2              25    1038375
23                   1              10     103933
24                   6              85    1042787
25                  14             255       1043
26                   1              15       1044
27                   2              35       1045
28                   1              20    1045281
29                   2              35       1046
...                ...             ...        ...
145053               2              20     918726
145054               5              45     921137
145055               2              25     921206
145056               1              15     922151
145057               8             105     924011
145058               1              15     924445
145059               1              10     928005
145060               5              60      92873
145061               1              15     944994
145062               7              60     945883
145063               2              25     946852
145064               1               5     947002
145065               1              15     950052
145066               3              25     951300
145067               2              20     954077
145068               1              30     954828
145069               2              15     957011
145070               3              55     957080
145071               1               5     958861
145072               2              20     959288
145073               3              35     961556
145074               1              10     969283
145075               1              10     970335
145076               3              45     973677
145077               1               5     978610
145078              10             135     978795
145079               5              45     983841
145080               4              55     984698
145081               4              35     987874
145082               1              10     997143

[145083 rows x 3 columns]

## 抽出表中customerid,coupon_value,red_envelop_id属性进行的一些统计尝试

In [12]:
df.groupby(['customerid']).sum()

            coupon_value
customerid
1003913              215
1004944               10
1006609              115
1006661               35
100910                15
1009386                5
1009656               20
101273                10
1014444               15
1016017               85
1017391               65
1018310               25
1019803              515
1020619               10
1022811               25
1026056               15
1026952               30
1030733               20
1032974               10
1034665               30
1036682               10
1038300               55
1038375               25
103933                10
1042787               85
1043                 255
1044                  15
1045                  35
1045281               20
1046                  35
...                  ...
918726                20
921137                45
921206                25
922151                15
924011               105
924445                15
928005                10
92873                 60
944994                15
945883                60
946852                25
947002                 5
950052                15
951300                25
954077                20
954828                30
957011                15
957080                55
958861                 5
959288                20
961556                35
969283                10
970335                10
973677                45
978610                 5
978795               135
983841                45
984698                55
987874                35
997143                10

[145083 rows x 1 columns]

In [15]:
df1 = df.groupby(['customerid','red_envelop_id']).sum()
df1

                           coupon_value
customerid red_envelop_id
1003913    171                       80
           95                       135
1004944    169                       10
1006609    169                       75
           171                       30
           93                        10
1006661    169                        5
           171                       20
           93                        10
100910     169                       15
1009386    91                         5
1009656    171                       20
101273     129                       10
1014444    173                       15
1016017    169                       20
           171                       65
1017391    169                       40
           41                        15
           93                        10
1018310    169                        5
           41                        20
1019803    171                      500
           95                        15
1020619    171                       10
1022811    173                       20
           91                         5
1026056    95                        15
1026952    173                       20
           93                        10
1030733    173                       20
...                                 ...
951300     93                        10
954077     169                       20
954828     169                       30
957011     91                         5
           93                        10
957080     131                        5
           169                       30
           173                       20
958861     169                        5
959288     169                       20
961556     137                       30
           169                        5
969283     169                       10
970335     173                       10
973677     171                       45
978610     91                         5
978795     169                       10
           171                       55
           41                        20
           91                         5
           93                        30
           95                        15
983841     91                         5
           93                        40
984698     169                       30
           91                         5
           93                        20
987874     169                       30
           91                         5
997143     169                       10

[231106 rows x 1 columns]

In [16]:
df2 = df.groupby(['customerid','red_envelop_id']).count()
df2

                           coupon_value
customerid red_envelop_id
1003913    171                        3
           95                         9
1004944    169                        2
1006609    169                        4
           171                        1
           93                         1
1006661    169                        1
           171                        1
           93                         1
100910     169                        2
1009386    91                         1
1009656    171                        1
101273     129                        1
1014444    173                        1
1016017    169                        2
           171                        3
1017391    169                        2
           41                         1
           93                         1
1018310    169                        1
           41                         1
1019803    171                       26
           95                         1
1020619    171                        1
1022811    173                        1
           91                         1
1026056    95                         1
1026952    173                        1
           93                         1
1030733    173                        1
...                                 ...
951300     93                         1
954077     169                        2
954828     169                        1
957011     91                         1
           93                         1
957080     131                        1
           169                        1
           173                        1
958861     169                        1
959288     169                        2
961556     137                        2
           169                        1
969283     169                        1
970335     173                        1
973677     171                        3
978610     91                         1
978795     169                        1
           171                        3
           41                         1
           91                         1
           93                         3
           95                         1
983841     91                         1
           93                         4
984698     169                        1
           91                         1
           93                         2
987874     169                        3
           91                         1
997143     169                        1

[231106 rows x 1 columns]

In [19]:
df1['get_coupon_cnt'] = df2['coupon_value']
df1

                           coupon_value  get_coupon_cnt
customerid red_envelop_id
1003913    171                       80               3
           95                       135               9
1004944    169                       10               2
1006609    169                       75               4
           171                       30               1
           93                        10               1
1006661    169                        5               1
           171                       20               1
           93                        10               1
100910     169                       15               2
1009386    91                         5               1
1009656    171                       20               1
101273     129                       10               1
1014444    173                       15               1
1016017    169                       20               2
           171                       65               3
1017391    169                       40               2
           41                        15               1
           93                        10               1
1018310    169                        5               1
           41                        20               1
1019803    171                      500              26
           95                        15               1
1020619    171                       10               1
1022811    173                       20               1
           91                         5               1
1026056    95                        15               1
1026952    173                       20               1
           93                        10               1
1030733    173                       20               1
...                                 ...             ...
951300     93                        10               1
954077     169                       20               2
954828     169                       30               1
957011     91                         5               1
           93                        10               1
957080     131                        5               1
           169                       30               1
           173                       20               1
958861     169                        5               1
959288     169                       20               2
961556     137                       30               2
           169                        5               1
969283     169                       10               1
970335     173                       10               1
973677     171                       45               3
978610     91                         5               1
978795     169                       10               1
           171                       55               3
           41                        20               1
           91                         5               1
           93                        30               3
           95                        15               1
983841     91                         5               1
           93                        40               4
984698     169                       30               1
           91                         5               1
           93                        20               2
987874     169                       30               3
           91                         5               1
997143     169                       10               1

[231106 rows x 2 columns]

In [7]:
df

       customerid  coupon_value red_envelop_id
0         5792240            10            129
1         5791209            10             93
2         5792245            20            129
3         5791086            10             93
4         5792250            15             41
5         5271291             5             91
6         5789110            10             93
7         5789986             5             91
8         5792150            10             93
9         5792047            10             93
10        5792048            10             93
11        5791516            10             93
12        5788854             5             91
13        5792269            10             41
14        5790730            15             95
15        5792290            10            129
16        5792291            15            129
17        5792292            10            129
18        5792296             5             91
19        5789840             5             91
20        5792302            15            129
21        5788838             5             91
22        5790625            10             93
23        5789308             5             91
24        5792313            10             93
25        5791319            10             93
26        5789931            10             93
27        5791347            10             93
28        5134200             5             91
29        4789605             5             91
...           ...           ...            ...
339327    6166789            10             93
339328    6168064            10             93
339329    6168214            20            173
339330    6167499             5             91
339331    6168017            10             93
339332    6168141            20            169
339333    6167703            10             93
339334    6167690            10             93
339335    6168219            10            169
339336    6168053             5             91
339337    6166216            10             93
339338    4636676            10             93
339339    4824235             5            169
339340    6168221            10            173
339341    6168222            15            173
339342    6168205            15            169
339343    6168223            15            173
339344    5399425            20            171
339345    4636676            15             95
339346    6168003            10             93
339347    6166333             5             91
339348    5976496            10             93
339349    4636676             5             91
339350    6167422            10            169
339351    6168228            15            173
339352    5981611            10             93
339353    5219931            10            169
339354    6168230            10            173
339355    5668693            15             95
339356    6168235            10            173

[339357 rows x 3 columns]