In [288]:
# coding:utf-8
"""
本篇为单独调试destine()函数的调试记录，后期将加入UserMainData
"""
import pandas as pd
import numpy as np
from impala.dbapi import connect
from impala.util import as_pandas
import cPickle
import re
import datetime as dt

def easy_print(terms,tname, records=10): #逐条描述前五条记录，方便仔细查看表中值的特征
    conn = connect(host='172.21.1.120', port=21050, user='udms', database='kmi_month') 
    cur = conn.cursor()     
    
    sql = 'SELECT ' + terms + ' FROM ' + tname + ' LIMIT 5' 
    cur.execute(sql)
    read_in = as_pandas(cur)    
    cur.close()
    conn.close()
    
    #print in a format
    columns = read_in.columns.values
    values = read_in.values
    records = []
    for v in values:
        records.append(zip(columns, v))
    
    for ix,r in enumerate(records):
        print('----------第%s条记录--------' % (ix+1))
        for k, v in r:
            print('%s: %s' % (k, v))
            
def full_print(terms,tname): #打出全表所选列，以方便进行统计查看规律，决定处理方法
    conn = connect(host='172.21.1.120', port=21050, user='udms', database='kmi_month') 
    cur = conn.cursor()     
    
    sql = 'SELECT ' + terms + ' FROM ' + tname
    cur.execute(sql)
    df = as_pandas(cur)
    print df
    cur.close()
    conn.close()
    
def str_to_float(data):
    return float(data)

def convert_date_weekday(data):
    data = pd.to_datetime(data, format='%Y-%m-%d')
    return data.weekday()

def is_large(data):
    pattern = re.compile(r'大包')
    if re.search(pattern,data):
        return 1
    else:
        return 0
    
def is_medium(data):
    pattern = re.compile(r'中包')
    if re.search(pattern,data):
        return 1
    else:
        return 0
    
def is_small(data):
    pattern = re.compile(r'小包')
    if re.search(pattern,data):
        return 1
    else:
        return 0

def is_reduce(data):
    pattern = re.compile(r'免包厢费')
    if re.search(pattern,data):
        return 1
    else:
        return 0
    
def destine(): #包间消费信息统计
    conn = connect(host='172.21.1.120', port=21050, user='udms', database='kmi_month') 
    cur = conn.cursor()    
    
#     # 1. 包间消费记录数据统计
#     sql = 'SELECT customer_id as customerid,guest_number,destine_room_charge,protocol_room_charge,reduce_cost,used_date FROM km_tbl_des_destine_km'
#     cur.execute(sql)
#     df = as_pandas(cur)
#     df['des_cnt'] = 1
#     df['guest_number'] = map(str_to_float,df['guest_number'])
#     df['destine_room_charge'] = map(str_to_float,df['destine_room_charge'])
#     df['protocol_room_charge'] = map(str_to_float,df['protocol_room_charge'])
#     df['reduce_cost'] = map(str_to_float,df['reduce_cost'])
#     df['des_charge_sum'] = df['destine_room_charge']/df['guest_number']
#     df['des_procharge_sum'] = df['protocol_room_charge']/df['guest_number']
#     df['des_reduce_sum'] = df['reduce_cost']/df['guest_number']
#     df['des_realcharge_sum'] = (df['destine_room_charge']-df['reduce_cost'])/df['guest_number']
#     df['used_date'] = map(convert_date_weekday,df['used_date']) 
#     df['des_workday_cnt'] = map(int,df['used_date'].isin({0,1,2,3,4}))
#     df['des_weekend_cnt'] = map(int,df['used_date'].isin({5,6}))
#     df['des_work_realchargesum'] = df['des_realcharge_sum']*df['des_workday_cnt']
#     df['des_weekend_realchargesum'] = df['des_realcharge_sum']*df['des_weekend_cnt']
#     df.drop('used_date',axis=1,inplace=True)
#     # 求和
#     df1 = df.groupby('customerid',as_index=False).sum()
#     drop_columns = ['destine_room_charge','protocol_room_charge','reduce_cost']
#     df1.drop(drop_columns,axis=1,inplace=True)
#     # 求平均值
#     df1['des_charge_mean'] = df1['des_charge_sum']/df1['des_cnt']
#     df1['des_realcharge_mean'] = df1['des_realcharge_sum']/df1['des_cnt']
#     df1['des_guestnumber_mean'] = df1['guest_number']/df1['des_cnt']
#     df1.drop('guest_number',axis=1,inplace=True)
    
#     # 求最大值和最小值
#     drop_columns = [ 'destine_room_charge','protocol_room_charge', 'reduce_cost', 'des_cnt', 'des_procharge_sum', 
#                     'des_reduce_sum','des_workday_cnt', 'des_weekend_cnt', 'des_work_realchargesum','des_weekend_realchargesum']
#     df2 = df.drop(drop_columns,axis=1)
#     # guest_number最大最小值
#     df4 = df2.drop(['des_charge_sum','des_realcharge_sum'],axis=1)
#     df4 = df4.sort_values(['customerid','guest_number'],ascending=[1,0])
#     df3 = df4.drop_duplicates(subset='customerid')
#     df3.columns = ['customerid','des_guestnumber_max']
#     df4.drop_duplicates(subset='customerid',keep='last',inplace=True)
#     df4.columns = ['customerid','des_guestnumber_min']    
#     # des_charge_max,des_charge_min
#     df6 = df2.drop(['guest_number','des_realcharge_sum'],axis=1)
#     df6 = df6.sort_values(['customerid','des_charge_sum'],ascending=[1,0])
#     df5 = df6.drop_duplicates(subset='customerid')
#     df5.columns = ['customerid','des_charge_max']
#     df6.drop_duplicates(subset='customerid',keep='last',inplace=True)
#     df6.columns = ['customerid','des_charge_min']         
#     # des_realcharge_max,des_real_charge_min
#     df8 = df2.drop(['guest_number','des_charge_sum'],axis=1)
#     df8 = df8.sort_values(['customerid','des_realcharge_sum'],ascending=[1,0])
#     df7 = df8.drop_duplicates(subset='customerid')
#     df7.columns = ['customerid','des_realcharge_max']
#     df8.drop_duplicates(subset='customerid',keep='last',inplace=True)
#     df8.columns = ['customerid','des_realcharge_min']    

#     # merge所有中间表
#     df = pd.merge(df3,df4,how='outer',left_on='customerid',right_on='customerid')
#     df9 = pd.merge(df5,df6,how='outer',left_on='customerid',right_on='customerid')
#     df10 = pd.merge(df7,df8,how='outer',left_on='customerid',right_on='customerid')
#     df = pd.merge(df,df9,how='outer',left_on='customerid',right_on='customerid')
#     df = pd.merge(df,df10,how='outer',left_on='customerid',right_on='customerid')
#     df = pd.merge(df1,df,how='outer',left_on='customerid',right_on='customerid')
#     des_stat = df
    
    # 2. 包厢类型统计
    sql = 'SELECT customer_id as customerid,buy_break_name FROM km_tbl_des_destine_km'
    cur.execute(sql)
    df = as_pandas(cur)    
    df['des_large_cnt'] = map(is_large,df['buy_break_name'])
    df['des_medium_cnt'] = map(is_medium,df['buy_break_name'])
    df['des_small_cnt'] = map(is_small,df['buy_break_name'])
    df['des_reduce_cnt'] = map(is_reduce,df['buy_break_name'])
    df.drop('buy_break_name',axis=1,inplace=True)
    des_type = df.groupby('customerid',as_index=False).sum()
    
    cur.close()
    conn.close()
    return des_type

In [289]:
df = destine()

In [290]:
df.head()

  customerid  des_large_cnt  des_medium_cnt  des_small_cnt  des_reduce_cnt
0          0            139            1105           1073               0
1    1008882              0               0              0               0
2     104173              0               0              0               0
3       1043              0               0              0               0
4     105051              0               0              0               0

# df2

In [223]:
df.head()

  customerid  guest_number  des_charge_sum  des_realcharge_sum
0     679446             8               4               3.375
1          0             1             114             114.000
2     679446             8               4               3.375
3          0             1              38              38.000
4          0             1              39              39.000

In [217]:
df.shape

(1174, 13)

In [218]:
df.columns

Index([u'customerid', u'des_cnt', u'des_charge_sum', u'des_procharge_sum',
       u'des_reduce_sum', u'des_realcharge_sum', u'des_workday_cnt',
       u'des_weekend_cnt', u'des_work_realchargesum',
       u'des_weekend_realchargesum', u'des_charge_mean',
       u'des_realcharge_mean', u'des_guestnumber_mean'],
      dtype='object')

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1174 entries, 0 to 1173
Data columns (total 10 columns):
customerid             1174 non-null object
des_cnt                1174 non-null int64
des_charge_sum         1174 non-null float64
des_procharge_sum      1174 non-null float64
des_reduce_sum         1174 non-null float64
des_realcharge_sum     1174 non-null float64
des_workday_cnt        1174 non-null int64
des_weekend_cnt        1174 non-null int64
des_charge_mean        1174 non-null float64
des_realcharge_mean    1174 non-null float64
dtypes: float64(6), int64(3), object(1)
memory usage: 100.9+ KB

In [140]:
df.shape

(1174, 10)

# 1. 对包间消费信息进行统计

### 初始读进来转换列数据类型结果

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4579 entries, 0 to 4578
Data columns (total 7 columns):
customerid              4579 non-null object
guest_number            4579 non-null float64
destine_room_charge     4579 non-null float64
protocol_room_charge    4579 non-null float64
reduce_cost             4579 non-null float64
des_cnt                 4579 non-null int64
des_charge              4579 non-null float64
dtypes: float64(5), int64(1), object(1)
memory usage: 286.2+ KB

In [17]:
df.shape

(4579, 6)

### df1 求和 求均值

In [219]:
df.head()

,customerid,des_cnt,des_charge_sum,des_procharge_sum,des_reduce_sum,des_realcharge_sum,des_workday_cnt,des_weekend_cnt,des_work_realchargesum,des_weekend_realchargesum,des_charge_mean,des_realcharge_mean,des_guestnumber_mean
0,0,2922,320684.000000,320684.000000,0.000000,320684.000000,1587,1335,187437.000000,133247.000,109.748118,109.748118,1.00
1,1008882,2,0.114286,0.114286,0.000000,0.114286,2,0,0.114286,0.000,0.057143,0.057143,4.00
2,104173,6,0.038000,0.036000,0.000000,0.038000,6,0,0.038000,0.000,0.006333,0.006333,3.00
3,1043,4,30.866667,30.866667,4.833333,26.033333,4,0,26.033333,0.000,7.716667,6.508333,7.75
4,105051,1,0.002000,0.002000,0.000000,0.002000,0,1,0.000000,0.002,0.002000,0.002000,5.00

In [220]:
df.shape

(1174, 13)

### df3-8 求最大值 最小值

### merge所有中间表结果

In [256]:
df.head()

,customerid,des_cnt,des_charge_sum,des_procharge_sum,des_reduce_sum,des_realcharge_sum,des_workday_cnt,des_weekend_cnt,des_work_realchargesum,des_weekend_realchargesum,des_charge_mean,des_realcharge_mean,des_guestnumber_mean,des_guestnumber_max,des_guestnumber_min,des_charge_max,des_charge_min,des_realcharge_max,des_realcharge_min
0,0,2922,320684.000000,320684.000000,0.000000,320684.000000,1587,1335,187437.000000,133247.000,109.748118,109.748118,1.00,1,1,1127.000000,10.000000,1127.000000,10.000000
1,1008882,2,0.114286,0.114286,0.000000,0.114286,2,0,0.114286,0.000,0.057143,0.057143,4.00,7,1,0.100000,0.014286,0.100000,0.014286
2,104173,6,0.038000,0.036000,0.000000,0.038000,6,0,0.038000,0.000,0.006333,0.006333,3.00,5,1,0.010000,0.002000,0.010000,0.002000
3,1043,4,30.866667,30.866667,4.833333,26.033333,4,0,26.033333,0.000,7.716667,6.508333,7.75,10,5,9.666667,5.600000,8.833333,5.600000
4,105051,1,0.002000,0.002000,0.000000,0.002000,0,1,0.000000,0.002,0.002000,0.002000,5.00,5,5,0.002000,0.002000,0.002000,0.002000

In [257]:
df.shape

(1174, 19)

# 2. 包厢类型统计

In [278]:
df.head()

,customerid,des_large_cnt,des_medium_cnt,des_small_cnt,des_vip_cnt,des_reduce_cnt
0,679446,0,0,0,0,0
1,0,0,0,1,0,0
2,679446,0,0,0,0,0
3,0,0,1,0,0,0
4,0,0,0,1,0,0

In [279]:
pd.value_counts(df['des_large_cnt'])

0    4418
1     161
Name: des_large_cnt, dtype: int64

In [280]:
pd.value_counts(df['des_medium_cnt'])

0    3401
1    1178
Name: des_medium_cnt, dtype: int64

In [281]:
pd.value_counts(df['des_small_cnt'])

0    3423
1    1156
Name: des_small_cnt, dtype: int64

### 弃掉vip数据

In [282]:
pd.value_counts(df['des_vip_cnt'])

0    4579
Name: des_vip_cnt, dtype: int64

In [283]:
pd.value_counts(df['des_reduce_cnt'])

0    4570
1       9
Name: des_reduce_cnt, dtype: int64

### 弃掉vip后的type数据

In [287]:
df.head()

  customerid  des_large_cnt  des_medium_cnt  des_small_cnt  des_reduce_cnt
0     679446              0               0              0               0
1          0              0               0              1               0
2     679446              0               0              0               0
3          0              0               1              0               0
4          0              0               0              1               0

## sum所有单条数据

In [291]:
df.head()

  customerid  des_large_cnt  des_medium_cnt  des_small_cnt  des_reduce_cnt
0          0            139            1105           1073               0
1    1008882              0               0              0               0
2     104173              0               0              0               0
3       1043              0               0              0               0
4     105051              0               0              0               0

In [292]:
pd.value_counts(df['des_large_cnt'])

0      1155
1        14
2         4
139       1
Name: des_large_cnt, dtype: int64

In [293]:
pd.value_counts(df['des_medium_cnt'])

0       1111
1         53
2          7
3          2
1105       1
Name: des_medium_cnt, dtype: int64

In [294]:
pd.value_counts(df['des_small_cnt'])

0       1107
1         54
2          8
3          3
1073       1
4          1
Name: des_small_cnt, dtype: int64

In [295]:
pd.value_counts(df['des_reduce_cnt'])

0    1168
1       5
4       1
Name: des_reduce_cnt, dtype: int64