In [33]:
# coding:utf-8
"""
本篇为user_all(),从数据库中读取所有暂存的中间表，连接所有分表，得到用户基础信息的宽表
"""
import pandas as pd
import numpy as np
from impala.dbapi import connect
from impala.util import as_pandas
import cPickle
import re
import datetime as dt
import pymysql.cursors

# Global variables
mysql_host = '172.21.1.151'
mysql_port = 3306
mysql_user = 'xli'
mysql_password = '123456'
mysql_db = 'kdwtemp2'
mysql_charset = 'utf8mb4'

def user_all():
    # 连接数据库以读取中间表
    conn = pymysql.connect(host=mysql_host,
                                      port=mysql_port,
                                      user=mysql_user,
                                      password=mysql_password,
                                      db=mysql_db,
                                      charset=mysql_charset)
    # 1. 读取user_info结果表
    sql = 'SELECT * FROM ljl_user_info'
    user_info = pd.read_sql(sql,conn)
    
    # 2. 读取get_coupon
    sql = 'SELECT * FROM ljl_get_coupon'
    get_coupon = pd.read_sql(sql,conn)
    df = pd.merge(get_coupon,user_info,how='left',left_on='customerid',right_on='customerid')
    
#     # 3.读取use_coupon
#     sql = 'SELECT * FROM ljl_use_coupon'
#     use_coupon = pd.read_sql(sql,conn)
    
#     # 4. 读取destine
#     sql = 'SELECT * FROM ljl_destine'
#     destine = pd.read_sql(sql,conn)
    
#     # 5. 读取tag_age_from_song
#     sql = 'SELECT * FROM ljl_tag_age_from_song'
#     tag_age_from_song = pd.read_sql(sql,conn)
    
#     # 6. 读取shop
#     sql = 'SELECT * FROM ljl_shop'
#     shop = pd.read_sql(sql,conn)
    
    
    conn.close()
    return df

In [34]:
df = user_all()

In [38]:
pd.value_counts(df['customerid'])

2743853    52
5819210    40
6139758    38
5964123    37
5913691    33
6100975    32
5832917    32
6025160    31
5964124    31
6163558    31
5959305    30
5963498    29
5958543    28
6136719    28
5824681    28
5880864    28
5957265    28
6141710    28
6036321    28
6141661    27
6074937    27
5848549    26
5996762    26
5964121    26
5914782    26
6014029    24
5890493    24
5977021    24
5996302    24
6118779    24
           ..
6056840     1
6048239     1
5257597     1
6007578     1
6028882     1
6085681     1
6085682     1
6085683     1
854842      1
5867418     1
5867419     1
6008878     1
6008875     1
6008876     1
4894966     1
5827427     1
6056849     1
5201554     1
5165389     1
5165383     1
6076211     1
6076210     1
5927125     1
5927124     1
5927123     1
5927122     1
5899056     1
5827428     1
5899051     1
6007203     1
Name: customerid, dtype: int64

In [39]:
pd.value_counts(df['kmid'])

000127319    821
000124835    821
000118533    821
000127091    821
000127093    821
000127092    821
000127097    821
000114607    821
000114604    821
000114603    821
000114600    821
000114601    821
000114608    821
000122849    821
000122848    821
000122842    821
000122845    821
000118536    821
000118535    821
000115082    821
000120469    821
000120464    821
000120467    821
000120466    821
000120461    821
000120460    821
000120463    821
000123747    821
000115083    821
000123746    821
            ...
000058220      1
000020634      1
000027693      1
000093929      1
000049949      1
000018515      1
000004003      1
000037496      1
000109620      1
000087142      1
000086138      1
000101589      1
000021934      1
000096801      1
000102337      1
000112327      1
000020300      1
000078698      1
000042875      1
000001294      1
000109900      1
000010665      1
000018998      1
000035678      1
000026263      1
000106795      1
000105381      1
000045660      1
000108705      1
000052292      1
Name: kmid, dtype: int64

In [40]:
pd.value_counts(df['openid'])

null                            156
otCz6vqUoBu-9UlwaQjeeAWLIt3Y     40
otCz6vlTERRv1aSx5Kbbk9N62siE     38
otCz6vg8C2xuFpM6-i069sJygmU0     37
otCz6vuDe-bMyJmvTjzdmRExH7pA     33
otCz6vt9D-yC-DRiA5BmIkz8dMZs     32
otCz6vvdH65o3tY8hhihA5T9MRlw     32
otCz6vof4UZU56wRaGq7HSerPF9A     31
otCz6vqjAHFBEbQ0-iwihwQS2S6g     31
otCz6vqkoZAOgFzxMH4aq7nWzpBY     31
otCz6voiPh7RYm9Hfdnv4NR_PpTQ     30
otCz6vlZypixhXgUcy_jjq5gntXs     29
otCz6vqid0SJAr_igFQN2gp6tnLo     28
otCz6vqNCZSf0DZXZKGTGqssnE3U     28
otCz6vlvgcxC_TvO902-d7KnmnBk     28
otCz6vpo8jUhI-IeL49wpljNDhww     28
otCz6vqFGQBgUnRLe-6VLc3c-o94     28
otCz6vpm5XYyG1vmIvfeP1ULwTXc     28
otCz6vsuXW9EqQguO0Ga4I2Drjtg     28
otCz6vvvrP5zN8A0L3SbPp9sdtdc     27
otCz6vq859pFkNexkIxAtC_8EoYc     27
otCz6von9YBZVmSWAyW4jqt9yCuw     26
otCz6vj39dtFPj4T2I66fse-sy0E     26
otCz6vgX1qPCUgFNqR-gUMvtvOII     26
otCz6vg5BDvm8xPaa2s37UwhVhsA     26
otCz6vng8i6V25RzdW1-XTrKHQgY     24
otCz6vnDHp0WD9nZb7M2GHhjAGDc     24
otCz6vuOJi9pGZd1og-W2MbG4z-g     24
otCz6vqBAI6Kwi4hLIeOz5fPSXc4     24
otCz6vi9dNwVvgwV8AAZp8o1gzs8     24
                               ...
otCz6vnPpG2UhXGbI2zycFNc_CzM      1
otCz6vgXvQ3ssSe64WmO6M8rGisw      1
otCz6vsdGPnIwZc149CT4iVPOp80      1
otCz6vrkYc-eyZqHxZ08PUIWwAvs      1
otCz6vijqGECnM7Z_XrfmOeqJ0S8      1
otCz6vsmhqLcpA_-9hTFsxCWf2Uk      1
otCz6vq9W-fw5sAxk_JD1gmQH_-M      1
otCz6vh5uPLRUNs312-gOI3b-XrA      1
otCz6vu5AhijlO3txcFKmHFC11J4      1
otCz6vjNTSick29_4PCoxu_xHNPA      1
otCz6vq8ZglnS7yzMQkfyoWhYVPI      1
otCz6vhLH-a_qyPwqenzMcBwOQkA      1
otCz6vj-axtWM1H0HcdU0hpkEoXE      1
o9MkJj4PrjHB7EVY6Zz0qDhWGEMo      1
otCz6vtvaFxp7o81p5UWjtN7qvgQ      1
otCz6vgcKfd3UFMpxncceiPwjI5Q      1
otCz6vqzRh1Im3GIuJR8iK-Mkmlw      1
otCz6viCIjzBMLuGg9-QPH-i37ag      1
otCz6vn_6A2NpuuziXoe-qbsTCRw      1
otCz6voIzOsyhdXC5N77YeEjTKY4      1
otCz6vo0HaxSuvAe8Wu4-KjSU3Qs      1
otCz6vnpm9sVpnqTO3xljVINmyl4      1
otCz6vs-BVOkBsMbkf_wt3s1RZM4      1
otCz6voSalWKeBxdGKZVG9ZK0TFs      1
otCz6vt1C5nDaOo3bqAfwIaDvP88      1
otCz6vlWR1cJm7_-a_r2Bn4z9l-I      1
otCz6vhZ_2wA1mKSJQGoryEW8Xt0      1
otCz6vkCIy4cSZtCPlwOOt6bkhqU      1
otCz6viuLnRTZAY_SiRzW1toI88Q      1
otCz6vnyHQeqPTrTV-Rxeost0I5E      1
Name: openid, dtype: int64

## 合并user_info和get_coupon结果

### outer merge

In [7]:
df.head()

,kmid,member_birthday,km_sex,accountcash,accountbalance,integralbalance,consumetotal,consumetimes,member_age_cut,lastconsume_diff_create_day,...,coupon_get_cnt,coupon_get_sum,source_company_id,source_company_cnt,get_coupon_type_cnt,get_com_roomnum,get_com_regioncode,get_com_managetype,get_com_vodsystemtype,get_coupon_crosscom
0,000108491,1995,1,0.00,0.00,0.00,0.00,0,member_age_5,0,...,NaN,NaN,136,NaN,NaN,89,500000,1,0,0
1,000108491,1995,1,0.00,0.00,0.00,0.00,0,member_age_5,0,...,NaN,NaN,139,NaN,NaN,136,440000,1,0,0
2,000108491,1995,1,0.00,0.00,0.00,0.00,0,member_age_5,0,...,NaN,NaN,147,NaN,NaN,70,350000,1,0,0
3,000108491,1995,1,0.00,0.00,0.00,0.00,0,member_age_5,0,...,NaN,NaN,168,NaN,NaN,67,440000,1,0,0
4,000108491,1995,1,0.00,0.00,0.00,0.00,0,member_age_5,0,...,NaN,NaN,191,NaN,NaN,72,440000,1,0,0

In [8]:
df.shape

(12919022, 31)

In [9]:
df.columns

Index([u'kmid', u'member_birthday', u'km_sex', u'accountcash',
       u'accountbalance', u'integralbalance', u'consumetotal', u'consumetimes',
       u'member_age_cut', u'lastconsume_diff_create_day',
       u'lastconsume_diff_create_hour', u'lastconsume_diff_now', u'openid',
       u'customerid', u'registertime', u'customer_status', u'wechat_sex',
       u'wechat_city', u'wechat_province', u'wechat_country',
       u'wechat_bind_status', u'coupon_get_cnt', u'coupon_get_sum',
       u'source_company_id', u'source_company_cnt', u'get_coupon_type_cnt',
       u'get_com_roomnum', u'get_com_regioncode', u'get_com_managetype',
       u'get_com_vodsystemtype', u'get_coupon_crosscom'],
      dtype='object')

### left merge

In [35]:
df.head()

,customerid,coupon_get_cnt,coupon_get_sum,source_company_id,source_company_cnt,get_coupon_type_cnt,get_com_roomnum,get_com_regioncode,get_com_managetype,get_com_vodsystemtype,...,lastconsume_diff_create_day,lastconsume_diff_create_hour,lastconsume_diff_now,openid,registertime,customer_status,wechat_sex,wechat_city,wechat_province,wechat_country
0,1003913,12,215,4617,9,4,63,500000,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1536143,1,5,4617,1,1,63,500000,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3303677,2,20,4617,2,2,63,500000,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3931247,4,35,4617,4,4,63,500000,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3937144,1,20,4617,1,1,63,500000,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df.shape

(7846869, 30)

In [37]:
df.info()

MemoryError:

## 非常怪异的问题？为什么kmid正好重复821次？

In [14]:
df.columns

Index([u'customerid', u'coupon_get_cnt', u'coupon_get_sum',
       u'source_company_id', u'source_company_cnt', u'get_coupon_type_cnt',
       u'get_com_roomnum', u'get_com_regioncode', u'get_com_managetype',
       u'get_com_vodsystemtype', u'get_coupon_crosscom', u'kmid',
       u'member_birthday', u'km_sex', u'accountcash', u'accountbalance',
       u'integralbalance', u'consumetotal', u'consumetimes', u'member_age_cut',
       u'lastconsume_diff_create_day', u'lastconsume_diff_create_hour',
       u'lastconsume_diff_now', u'openid', u'registertime', u'customer_status',
       u'wechat_sex', u'wechat_city', u'wechat_province', u'wechat_country',
       u'wechat_bind_status'],
      dtype='object')

In [15]:
pd.value_counts(df['kmid'])

000111257    821
000050626    821
000116286    821
000116282    821
000116283    821
000122678    821
000122679    821
000122677    821
000122674    821
000122675    821
000122672    821
000122671    821
000123468    821
000123461    821
000123462    821
000123463    821
000123464    821
000123465    821
000123467    821
000110743    821
000110748    821
000109318    821
000109316    821
000109314    821
000109313    821
000109310    821
000052135    821
000055618    821
000055611    821
000116285    821
            ...
000113736    821
000122603    821
000119275    821
000122602    821
000122601    821
000122600    821
000122607    821
000122606    821
000108711    821
000108710    821
000108713    821
000108719    821
000108718    821
000119271    821
000119273    821
000044404    821
000109366    821
000054054    821
000054055    821
000054056    821
000054057    821
000054051    821
000054053    821
000054059    821
000109369    821
000109363    821
000109361    821
000109360    821
000109367    821
000127319    821
Name: kmid, dtype: int64

In [16]:
pd.value_counts(df['customerid'])

6048183    1
6049776    1
5913548    1
6045409    1
6045407    1
6045401    1
6045400    1
6045403    1
6134269    1
5913540    1
6134264    1
6134265    1
6134263    1
6021233    1
5578423    1
6016346    1
5913549    1
5913544    1
6106509    1
6054988    1
6106504    1
6106505    1
5855419    1
5855410    1
5855411    1
4288147    1
6054984    1
5945634    1
6054982    1
6054983    1
          ..
4667952    1
6071290    1
6071298    1
6018351    1
5225728    1
5781863    1
6109925    1
6109927    1
6109921    1
6109929    1
6018359    1
6018358    1
5979404    1
5979408    1
5823234    1
6074514    1
6074517    1
6074510    1
6074511    1
6074513    1
6074519    1
6143120    1
5633762    1
6143128    1
5395517    1
5976764    1
5976767    1
5976766    1
5976769    1
6066819    1
Name: customerid, dtype: int64