In [1]:
# coding:utf-8
"""
本篇为user_all(),从数据库中读取所有暂存的中间表，连接所有分表，得到用户基础信息的宽表
"""
import pandas as pd
import numpy as np
from impala.dbapi import connect
from impala.util import as_pandas
import cPickle
import re
import datetime as dt
import pymysql.cursors

# Global variables
mysql_host = '172.21.1.151'
mysql_port = 3306
mysql_user = 'xli'
mysql_password = '123456'
mysql_db = 'kdwtemp2'
mysql_charset = 'utf8mb4'

def user_all():
    # 连接数据库以读取中间表
    conn = pymysql.connect(host=mysql_host,
                                      port=mysql_port,
                                      user=mysql_user,
                                      password=mysql_password,
                                      db=mysql_db,
                                      charset=mysql_charset)
    # 1. 读取user_info结果表
    sql = 'SELECT * FROM ljl_user_info'
    user_info = pd.read_sql(sql,conn)
    
    # 2. 读取get_coupon
    sql = 'SELECT * FROM ljl_get_coupon'
    get_coupon = pd.read_sql(sql,conn)
    df = pd.merge(get_coupon,user_info,how='left',left_on='customerid',right_on='customerid')
    
    conn.close()
    return df

In [ ]:
#     # 3.读取use_coupon
#     sql = 'SELECT * FROM ljl_use_coupon'
#     use_coupon = pd.read_sql(sql,conn)
    
#     # 4. 读取destine
#     sql = 'SELECT * FROM ljl_destine'
#     destine = pd.read_sql(sql,conn)
    
#     # 5. 读取tag_age_from_song
#     sql = 'SELECT * FROM ljl_tag_age_from_song'
#     tag_age_from_song = pd.read_sql(sql,conn)
    
#     # 6. 读取shop
#     sql = 'SELECT * FROM ljl_shop'
#     shop = pd.read_sql(sql,conn)

In [2]:
df = user_all()

In [6]:
pd.value_counts(df['customerid'])

5806529    2
5806928    2
5835568    2
5833615    2
5795919    2
5833614    2
5838974    2
5891339    2
5854911    2
5808844    2
5797238    2
5883878    2
5881276    2
5858389    2
5808180    2
5798751    2
5844945    2
5809463    2
5808308    2
5812637    2
5885650    2
5882163    2
5885969    2
5810931    2
5805160    2
5887196    2
5796909    2
5840265    2
5853315    2
5878111    2
          ..
5913546    1
5945634    1
5913544    1
4787398    1
5913540    1
6054988    1
6056582    1
6056583    1
4787391    1
5913549    1
5913548    1
5873849    1
5885736    1
5973896    1
5885733    1
6033538    1
5885730    1
5890350    1
6070719    1
5347807    1
6070718    1
6014355    1
4656131    1
5962675    1
5949042    1
6054980    1
6077659    1
6054982    1
6054984    1
6007203    1
Name: customerid, dtype: int64

In [7]:
pd.value_counts(df['kmid'])

000080338                   1
000020634                   1
000034026                   1
000081157                   1
000090277                   1
000025037                   1
000111592                   1
000045746                   1
000098054                   1
000042778                   1
000109659                   1
000018116                   1
000009908                   1
000013977                   1
000046211                   1
000076468                   1
000093209                   1
000071847                   1
000057474                   1
000000679                   1
000029475                   1
000014101                   1
000010665                   1
000031710                   1
000083427                   1
000047651                   1
000055617                   1
000113529                   1
000101065                   1
000101066                   1
                           ..
000033228                   1
000060720                   1
000112414                   1
000102141                   1
000001777                   1
062851437981340517333197    1
000028414                   1
000108944                   1
000001778                   1
067301438181141446308488    1
000029729                   1
012201413966033278553644    1
000064681                   1
000084068                   1
000051358                   1
000000497                   1
000024113                   1
000099680                   1
000000961                   1
000019300                   1
000021870                   1
000044402                   1
000036941                   1
000107723                   1
000084874                   1
000108705                   1
000099316                   1
000099310                   1
000001145                   1
000029480                   1
Name: kmid, dtype: int64

In [8]:
pd.value_counts(df['openid'])

null                            113
otE7DjhZ7qqet4JbEzMxSp0I_ONU      2
o4NV2jo_TBIdV2xooopFV6hQzRp8      2
otCz6vnOtV7OfhHoGl3d4nBLlZgE      1
otCz6vr72_o4cbcD1O47HHUKnegE      1
otCz6vmDSXJzfgN7dEbK2NNxfJZg      1
otCz6vkLeg1jRD6hGu7MWhAsH7Yg      1
otCz6voTawXjHDwWBnNHxFWXI7e0      1
otCz6vtBO7HWkQJooajCv57Plil4      1
otCz6vrAIp8xjENJzKRmgW93q7cY      1
otCz6vpd_wKTyCVxR8Y2DeO_JY5E      1
otCz6vu5gu3sPX0zqrsHOQe_8xts      1
otCz6vkWWCXWQjS2uruyQCmN5cII      1
otCz6vsoDdydMw7ReufD7ByXi3m8      1
otCz6vtnmee2IU1XDCbUqwySC-wc      1
otCz6vhKStOJAenyvPZXjHIJnX84      1
otCz6viDeOSWdEqiQJMueKQFrNZE      1
otCz6viYO_MYCy37fJ40GNYbAaaU      1
otCz6vpSxfTWEzZl9qeJ3PKhaDIg      1
otCz6vj3NAzL4UgWRgz0Kn7yu7sc      1
otCz6vodtngydzJmcNnmuqxPM_Iw      1
otCz6vsUEvp4pKifvbRyYht_g1Zo      1
otCz6vrM6WCVyxZpRA7TWM8em2Cc      1
otCz6vugZjI6ffG7jq9hxr6O_tng      1
otCz6vpJu2rUM0Du0O-PvJcQej04      1
otCz6vmXWfgH6cLZ8l9qTIsSLmjo      1
otCz6vvmijhLEJXiDToD4UWrIHq0      1
otCz6vhilPriO0ivoBYwcjrXai_g      1
otCz6vtIYw-WI4japFpFt3JE4KSQ      1
otCz6vt0w2GYXbN2P4o14Jttl8t4      1
                               ...
otCz6vhWQ1Z3VVrKU5JZUfWMvGZ0      1
otCz6viG1Wj2R7PntJY30plHL1mQ      1
otCz6vsiviUoin1yjXnssNv52YOQ      1
otCz6vrExMO1SxtWjAIh-aEUO1FY      1
otCz6voq5jd4mqJ7zFVBLQVZq4UE      1
otCz6vs82tCGMmoFghLIyZIq9RV0      1
otCz6voP6f8J65uI7GDK9yiBmClc      1
otCz6vqxoB2hSjrtns9hOpXYvlLc      1
otCz6vswSi0R6Xk8vltvrFu9LnhI      1
otCz6vn5BdWwNNiW6XsuWCg2TQho      1
otCz6vp05GrOOTKTiYxybCuOAkQo      1
otCz6vrPTjcrTV-ynhKEAtJSdQaM      1
otCz6vvVzsZizstBeLVrMk3gxHxI      1
otCz6vkxLFiwzkmIOd8bt6wsWTeM      1
otCz6vgzj5h69Y8D3t0dprYypNc4      1
otCz6vnsqJlHqlY4eNbgkBjHw6Z8      1
otCz6vvATvltkCY-Y6kPU8bL5v2I      1
otCz6vnF1wqjCCvg7t2MjmF_6TzE      1
otCz6vsimqL0VVrcTHCrNfpkmITo      1
otCz6vobTFN14NXUPOauXaplZAF4      1
otCz6vrMzyjIUMXEA2QhEoX0372c      1
otCz6vt1UZV3X2NRa47ZLyGQ-65c      1
otCz6vmJ8IAEGvaQk493BWBYmGPE      1
otCz6vt1TEnDnV4boH2_MIBquk_8      1
otCz6vkRdVsDc4epHxgQhmcOX8z4      1
otCz6viOUGee6-a1zt7si-XAY2QU      1
otCz6vjYYyW06Vcik2CTTcJdlf2s      1
otCz6vlUOHXcOrI0H38Yg59FZcA8      1
otCz6voCsjI0x2PIthbxpcW4P_kU      1
                                  1
Name: openid, dtype: int64

In [9]:
df.shape

(146041, 30)

In [10]:
df.columns

Index([u'customerid', u'coupon_get_cnt', u'coupon_get_sum',
       u'source_company_id', u'source_company_cnt', u'get_coupon_type_cnt',
       u'get_com_roomnum', u'get_com_regioncode', u'get_com_managetype',
       u'get_com_vodsystemtype', u'get_coupon_crosscom', u'registertime',
       u'customer_status', u'openid', u'wechat_sex', u'wechat_city',
       u'wechat_province', u'wechat_country', u'kmid', u'member_birthday',
       u'km_sex', u'accountcash', u'accountbalance', u'integralbalance',
       u'consumetotal', u'consumetimes', u'member_age_cut',
       u'lastconsume_diff_create_day', u'lastconsume_diff_create_hour',
       u'lastconsume_diff_now'],
      dtype='object')

In [11]:
df.head()

,customerid,coupon_get_cnt,coupon_get_sum,source_company_id,source_company_cnt,get_coupon_type_cnt,get_com_roomnum,get_com_regioncode,get_com_managetype,get_com_vodsystemtype,...,km_sex,accountcash,accountbalance,integralbalance,consumetotal,consumetimes,member_age_cut,lastconsume_diff_create_day,lastconsume_diff_create_hour,lastconsume_diff_now
0,1003913,12,215,4617,9,4,63,500000,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1536143,1,5,4617,1,1,63,500000,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3303677,2,20,4617,2,2,63,500000,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3931247,4,35,4617,4,4,63,500000,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3937144,1,20,4617,1,1,63,500000,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 146041 entries, 0 to 146040
Data columns (total 30 columns):
customerid                      145220 non-null object
coupon_get_cnt                  145220 non-null float64
coupon_get_sum                  145220 non-null float64
source_company_id               146041 non-null object
source_company_cnt              145220 non-null float64
get_coupon_type_cnt             145220 non-null float64
get_com_roomnum                 102268 non-null object
get_com_regioncode              102268 non-null object
get_com_managetype              102268 non-null object
get_com_vodsystemtype           102268 non-null object
get_coupon_crosscom             146041 non-null int64
registertime                    129769 non-null object
customer_status                 129769 non-null object
openid                          74296 non-null object
wechat_sex                      65695 non-null object
wechat_city                     65695 non-null object
wechat_province                 65695 non-null object
wechat_country                  65695 non-null object
kmid                            1038 non-null object
member_birthday                 62 non-null float64
km_sex                          62 non-null float64
accountcash                     62 non-null object
accountbalance                  62 non-null object
integralbalance                 62 non-null object
consumetotal                    62 non-null object
consumetimes                    62 non-null object
member_age_cut                  62 non-null object
lastconsume_diff_create_day     62 non-null float64
lastconsume_diff_create_hour    62 non-null float64
lastconsume_diff_now            62 non-null float64
dtypes: float64(9), int64(1), object(20)
memory usage: 34.5+ MB

In [13]:
df.drop_duplicates('customerid',inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145084 entries, 0 to 145220
Data columns (total 30 columns):
customerid                      145083 non-null object
coupon_get_cnt                  145083 non-null float64
coupon_get_sum                  145083 non-null float64
source_company_id               145084 non-null object
source_company_cnt              145083 non-null float64
get_coupon_type_cnt             145083 non-null float64
get_com_roomnum                 101334 non-null object
get_com_regioncode              101334 non-null object
get_com_managetype              101334 non-null object
get_com_vodsystemtype           101334 non-null object
get_coupon_crosscom             145084 non-null int64
registertime                    129769 non-null object
customer_status                 129769 non-null object
openid                          74159 non-null object
wechat_sex                      65695 non-null object
wechat_city                     65695 non-null object
wechat_province                 65695 non-null object
wechat_country                  65695 non-null object
kmid                            901 non-null object
member_birthday                 5 non-null float64
km_sex                          5 non-null float64
accountcash                     5 non-null object
accountbalance                  5 non-null object
integralbalance                 5 non-null object
consumetotal                    5 non-null object
consumetimes                    5 non-null object
member_age_cut                  5 non-null object
lastconsume_diff_create_day     5 non-null float64
lastconsume_diff_create_hour    5 non-null float64
lastconsume_diff_now            5 non-null float64
dtypes: float64(9), int64(1), object(20)
memory usage: 34.3+ MB